@media screen and (max-width: 830px) {
	
 *{
	 /* border: 1px solid red; */
 }

	#header{
		display: flex;
		background-image: url("../img/cover.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position-y: 70%;
		background-position-x: 44%;
		background-color: black;
		min-height: 100vh;
		justify-content: center;
		align-items: center;
		user-select: none;
		white-space: nowrap;
	}

	#about{
		background-color: rgba(0,0,0,0.1);
		padding: 10vw 0px;
	}

	.cover-text-container{
		flex: 0;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		background-color: rgba(0,0,0,0.3);
		color: white;
		padding: 30px 80px 30px 50px;
		border-radius: 15px;
		min-width: 40vw;
		margin-bottom: 60vw;
	}
	
	.cover-text-container *{
		flex: 1;
	}
	
	.cover-text-container .cover-title{
		font-weight: bold;
		font-size: 7vw;
	}
	
	.cover-text-container .cover-subtitle{
		font-weight: bold;
		font-size: 4vw;
		margin: 5px 0px 10px 0px;
	}

	.table{
		display: flex;
    flex-direction: column;
		padding: 0px 5vw;
	}

	.table .table-left{
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.table .table-right{
		flex: 1;
		justify-content: start;
		padding: 0px 10vw 0px 5vw;
	}

	.paragraph{
		margin: 50px 10vw;
		padding: 30px;
		background-color: white;
	}

	.paragraph-body ol li.ol-header{
		flex: 1;
		margin-bottom: 5px;
		font-weight: bold;
		font-size: 13pt;
	}
	
	.paragraph-body ol li.ol-item{
		flex: 1;
		margin-left: 5px;
	}
	
	.paragraph-body ol li.label-value{
		display: flex;
	}
	
	.label-value span.label{
		flex: 1;
		display: none;
	}
	
	.label-value span.value{
		flex: 0;
	}
	
	.label-value span.label span.comment,
	.label-value span.label-mobile span.comment{
		color: darkslategray;
		font-size: 9pt;
		margin-left: 10px;
	}
		
	.label-value span.label-mobile{
		flex: 1;
	}
	
	.paragraph-body ol li.ol-header-sub{
		flex: 1;
		margin-bottom: 5px;
		font-weight: bold;
		font-size: 13pt;
		margin-left: 30px;
		margin-top: 10px;
	}
	
	.paragraph-body ol li.ol-item-sub{
		flex: 1;
		margin-left: 30px;
	}

}